<div class="pagination-container d-flex justify-content-center my-4">
  <nav>
    <ul class="pagination">
      <% if (currentPage > 0) { %>
        <li class="page-item">
          <a class="page-link" href="<%= baseUrl %>?<%= queryString %>page=<%= currentPage - 1 %>">Previous</a>
        </li>
      <% } else { %>
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
      <% } %>
      <li class="page-item">
        <a class="page-link" href="<%= baseUrl %>?<%= queryString %>page=<%= currentPage + 1 %>">Next</a>
      </li>
    </ul>
  </nav>
</div>
