<% if (error) { %>
    <p><%= error %></p>
<% } else { %>
    <% function formatDuration(minutes) {
        if (isNaN(minutes) || minutes === null || minutes === undefined) {
            return 'No duration available'; // Default message if error
        } else if (minutes < 60) {
            return `${minutes}min`;
        }
        const hours = Math.floor(minutes / 60);
        const mins = minutes % 60;
        return `${hours}h${mins > 0 ? mins + 'min' : ''}`;
    } %>
    <% function generateStarDisplay(rating) { %>
        <% if (rating === null || rating === undefined || isNaN(rating)) { %>
            <p>No rating available</p>
        <% } else { %>
            <div class="stars-container">
                <% for (let i = 1; i <= 5; i++) { %>
                    <div class="star" style="--star-fill: <%= Math.min(1, Math.max(0, rating - (i - 1))) * 100 %>%;"></div>
                <% } %>
            </div>
        <% } %>
    <% } %>

    <div id="results" class="ps-3">
        <% movies.forEach(movie => { %>
            <div class="movie-container">
                <!-- Poster Section -->
                <div class="left poster-boxed">
                    <img src="<%= movie.link %>" alt="Poster Film" class="poster-img" />
                </div>

                <!-- Information Section -->
                <div class="right info">
                    <h2><%= movie.name %> (<%= movie.date %>)</h2>
                    <p><%= movie.tagline %></p>
                    <p><strong>Genres:</strong> <%= movie.genres %></p>
                    <p><strong>Description:</strong> <%= movie.description %></p>
                    <p><strong>Duration:</strong> <%= formatDuration(movie.minute) %></p>
                    <p><strong>Rating:</strong> <%= movie.rating %></p>
                    <%= generateStarDisplay(movie.rating) %>
                </div>
            </div>
            <hr>
        <% }) %>
    </div>
<% } %>
