<h1 id="homeH1" class="ps-3 text-center">Top 50 Most Rated Movies</h1>

<% if (error) { %>
    <p style="color: red;" class="ps-3"><%= error %></p>
<% } else if (movies.length === 0) { %>
    <p class="ps-3">No movies found.</p>
<% } else { %>

    <div id="results" class="ps-3">
        <% movies.forEach(movie => { %>
            <div class="movie-container">
                <!-- Poster Section -->
                <div class="left poster-boxed">
                    <a href="/springboot/movieDetails?id=<%= movie.id %>">
                        <img src="<%= movie.link %>" alt="Poster Film" class="poster-img" />
                    </a>
                </div>

                <!-- Information Section -->
                <div class="right info">
                    <h2>
                        <a href="/springboot/movieDetails?id=<%= movie.id %>" style="text-decoration: none; color: inherit;">
                            <%= movie.name %> (<%= movie.date %>)
                        </a>
                    </h2>
                    <p><%= movie.tagline %></p>
                    <p><strong>Genres:</strong> <%= movie.genres %></p>
                    <p><strong>Description:</strong> <%= movie.description || 'No description available' %></p>
                    <p><strong>Duration:</strong> <%= formatDuration(movie.minute) %></p>
                    <p><strong>Rating:</strong> <%= movie.rating %></p>
                    <div>
                        <%- generateStarDisplay(movie.rating) %>
                    </div>


                    <button onclick="goToChat('<%= movie.id %>', '<%= movie.name %>')"
                            class="btn btn-success rounded-pill shadow-sm mt-2">
                        <i class="bi bi-chat-dots"></i> Join Chat
                    </button>
                </div>
            </div>
            <hr>
        <% }) %>
    </div>

    <%- include('../components/pagination', {
      baseUrl: '/',
      queryString: '',
      currentPage: currentPage
    }) %>




<% } %>
