<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<% if (error) { %>
  <p style="color: red;"><%= error %></p>
<% } else if (movies.length === 0) { %>
  <p>No movies found.</p>
<% } else { %>
  <% function formatDuration(minutes) {
    if (isNaN(minutes) || minutes === null || minutes === undefined) {
      return 'Unknown duration'; // Default message if error
    }
    else if (minutes < 60)
    {
      return (minutes + "min");
    }
    const hours = Math.floor(minutes / 60);
    const mins = minutes % 60;
    return `${hours}h${mins > 0 ? mins + 'min' : ''}`;
  } %>
  <% function generateStarDisplay(rating) { %>
    <% if (rating === null || rating === undefined || isNaN(rating)) { %>
      <p>No rating available</p>
    <% } else { %>
      <div class="stars-container">
        <% for (let i = 1; i <= 5; i++) { %>
          <div class="star" style="--star-fill: <%= Math.min(1, Math.max(0, rating - (i - 1))) * 100 %>%;"></div>
        <% } %>
      </div>
    <% } %>
  <% } %>
  <br>
  <div id="results" class="ps-3">
    <% movies.forEach(movie => { %>
      <div>
        <h2><%= movie.name %></h2>
        <p><strong>Date:</strong> <%= movie.date %></p>
        <p><%= movie.tagline %></p>
        <p><strong>Description:</strong> <%= movie.description %></p>
        <p><strong>Duration:</strong> <%= formatDuration(movie.minute) || "Duration not available"%></p>
        <p><strong>Rating:</strong> <%= movie.rating %></p>
        <%= generateStarDisplay(movie.rating) %>
        <br>
      </div>
      <hr>
    <% }); %>
  </div>
<% } %>

<a href="/">Back to homepage</a>
</body>
</html>
