<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<% if (error) { %>
  <p><%= error %></p>
<% } else if (movies.length === 0) { %>
  <p>No movies found.</p>
<% } else { %>
    <% if (query) { %>
        <h1 id="homeH1" class="text-center mt-4">Search result for "<%= query %>"</h1>
    <% } %>

  <br>
  <div id="results" class="ps-3">
    <% movies.forEach(movie => { %>
      <div class="movie-container">
          <!-- Poster Section -->
          <div class="left poster-boxed">
              <a href="/springboot/movieDetails?id=<%= movie.id %>">
                <img src="<%= movie.link %>" alt="Poster Film" class="poster-img" />
              </a>
          </div>

          <!-- Information Section -->
          <div class="right info">
            <h2>
                <a href="/springboot/movieDetails?id=<%= movie.id %>" style="text-decoration: none; color: inherit;">
                    <%= movie.name %>
                </a>
            </h2>

            <p><strong>Date:</strong> <%= movie.date %></p>
            <p><%= movie.tagline %></p>
            <p><strong>Description:</strong> <%= movie.description %></p>
            <p><strong>Duration:</strong> <%= formatDuration(movie.minute) || "Duration not available"%></p>
            <p><strong>Rating:</strong> <%= movie.rating %></p>
            <div>
                <%- generateStarDisplay(movie.rating) %>
            </div>

            <button onclick="goToChat('<%= movie.id %>', '<%= movie.name %>')"
                    class="btn btn-success rounded-pill shadow-sm mt-2">
                <i class="bi bi-chat-dots"></i> Join Chat
            </button>
            <br>
          </div>
      </div>
      <hr>
    <% }); %>
  </div>
<% } %>

<% if (movies && movies.length >= 20) { %>
    <%- include('../components/pagination', {
      baseUrl: '/springboot/findByKeyword',
      queryString: `name=${query}&`,
      currentPage: currentPage
    }) %>
<% } %>

</body>
</html>
